<%- include("header"); -%>
<body>


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">PM Modi launches Atmanirbhar Bharat app challenge</h1>
          <p class="lead">Atmanirbhar Bharat call to help country capitalise on its inherent strengths.</p>
          <img src="/images/img7.jpg" alt="">
          <hr>
          <p>India has faced the COVID-19 situation with fortitude and a spirit of self-reliance, that is evident in the fact that from zero production of Personal Protection Equipment (PPE) before March 2020, India today has created a capacity of producing 2 lakh PPE kits daily, which is also growing steadily.

            Additionally, India has demonstrated how it rises up to challenges and uncovers opportunities therein, as manifested in the re-purposing of various automobile sector industries to collaborate in the making of life-saving ventilators. The clarion call given by the Hon'ble PM to use these trying times to become Atmanirbhar (self-reliant) has been very well received to enable the resurgence of the Indian economy. Unlock 1 Guidelines have been issued to enable resumption of economic activities while maintaining abundant caution thus allowing graded easing of restrictions.
            
            The Five pillars of Atmanirbhar Bharat focus on:</p>
            <ul>
                <li><p>Economy</p></li>
                <li><p>Infrastructure</p></li>
                <li><p>System</p></li>
                <li><p>Vibrant Demography and</p></li>
                <li><p>Demand</p></li>
            </ul>
            <hr>
            <p>The Five phases of Atmanirbhar Bharat are:</p>
            <ul>
                <li><p><a href="https://cdnbbsr.s3waas.gov.in/s3850af92f8d9903e7a4e0559a98ecc857/uploads/2020/05/2020051717.pdf">Phase 1 : </a>Businesses including MSMEs</p></li>
                <li><p><a href="https://cdnbbsr.s3waas.gov.in/s3850af92f8d9903e7a4e0559a98ecc857/uploads/2020/05/2020051751.pdf">Phase 2 : </a>Poor, including migrants and farmers</p></li>
                <li><p><a href="https://cdnbbsr.s3waas.gov.in/s3850af92f8d9903e7a4e0559a98ecc857/uploads/2020/05/2020051736.pdf">Phase 3 : </a>Agriculture</p></li>
                <li><p><a href="https://cdnbbsr.s3waas.gov.in/s3850af92f8d9903e7a4e0559a98ecc857/uploads/2020/05/2020051784.pdf">Phase 4 : </a> New Horizons of Growth</p></li>
                <li><p><a href="https://cdnbbsr.s3waas.gov.in/s3850af92f8d9903e7a4e0559a98ecc857/uploads/2020/05/2020051740.pdf">Phase 5 : </a>Government Reforms and Enablers</p></li>
            </ul>


            <img src="images/img8.jpg" alt=""  style="display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;">
           
            


        </div>
      </div>




<%- include("footer"); -%>