<%- include("header"); -%>

<body>

    <div class="jumbotron">
        <h1 class="display-4">Sorry, It's a Chinese Company!</h1>
        <hr class="my-4">
        <h2> <%= companyName %> </h3>
       
        
        <p> <%= companyContent %></p>
        <!-- <img src="images/img3.jpg" alt="" class="centre"> -->
      </div>
      <img src="images/img10.jpg" alt=""  style="display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;">
     
      






<%- include("footer"); -%>