<%- include("header"); -%>
<body>


    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Madhura Geetha</h2>
            <h3>Project Mentor</h3>
            <p>Assistant Professor</p>
            <p>Email: manugeetha@gmail.com</p>
            <p>PESCE, Mandya</p>
           
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Abhishek K P</h2>
            <p>Student</p>
            <p>USN : 4PS17CS001</p>
            <p>Email : abhishekkp0505@gmail.com</p>
            <p>PESCE, Mandya</p>

           
           
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Aditya S</h2>
            <p>Student</p>
            <p>USN : 4PS17CS002</p>
            <p>Email : adityagaargya@gmail.com</p>
            <p>PESCE, Mandya</p>
           
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Deepak M C</h2>
            <p>Student</p>
            <p>USN : 4PS17CS022</p>
            <p>Email : deepakmc01@gmail.com</p>
            <p>PESCE, Mandya</p>
           
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Ganesh Chaturthi</h2>
            <p>Student</p>
            <p>USN : 4PS17CS023</p>
            <p>Email: ganeshchaturthicj@gmail.com</p>
            <p>PESCE, Mandya</p>
            
           
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->



 


<%- include("footer"); -%>
