<%- include("header"); -%>

<body class="home">

    <form action="/search" method="POST">
    <div class="wrapper">
       
        <input type="text" class="input" name="shopName" placeholder="Search by shop name....">
        <div class="searchbtn">
            <!-- <input class="" type="button" value="button"> -->
           
            <button class="btn1"><i class="fas fa-search"></i></button>
            
        </div>
        <!-- <img src="images/img1.jpg" alt=""> -->
        

    </div>

 
</form>


    
<%- include("footer"); -%>