<%- include("header"); -%>
<body>


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">The Set up was successfull</h1>
          <p class="lead">Now people can view your shop, buy from your shop and give ratings.</p>

          <p>We wish you BEST OF LUCK!!</p>
         
        

            <img src="images/img8.jpg" alt=""  style="display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;">
           
            


        </div>
      </div>










<%- include("footer"); -%>